<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793961414183-o0pa43j202jtqd43k337f0lvdbb4uss0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793961414183-o0pa43j202jtqd43k337f0lvdbb4uss0</string>
	<key>API_KEY</key>
	<string>AIzaSyANRKq7Cnr-jIh1xbiqMiwNdKYVuzV9wfs</string>
	<key>GCM_SENDER_ID</key>
	<string>793961414183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.leadsdoit-test</string>
	<key>PROJECT_ID</key>
	<string>leadsdoit-test-ae55d</string>
	<key>STORAGE_BUCKET</key>
	<string>leadsdoit-test-ae55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793961414183:ios:cbe3cf1c87b1913479d802</string>
</dict>
</plist>